<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="resume.css">
</head>
<body>
	<center>
		<p>KATE RONIE-LIE B. FLAVIANO</p>
		<P>0400, Purok Paraiso, Brgy. Libjo Infanta, Quezon</P>
		<p>09663450798/09074692413</p>
		<p>3.kateronieliebflaviano@gmail.com</p>
	</center>

	<img class="pic" src="static/assets/kate.png" alt="Italian Trulli" style="width:128px;height:128px;">
		

	<h1>Personal Information</h1>

	<table>
	<tr>
		<td>Age: </td>
		<td>:</td>
		<td>21</td>
		
	</tr>
	<tr>
		<td>Sex:</td>
		<td>:</td>
		<td>Female</td>
		
	</tr>
	<tr>
		<td>Civil Status</td>
		<td>:</td>
		<td>Single</td>
	</tr>
	<tr>
		<td>Birthday</td>
		<td>:</td>
		<td>January 18, 2000</td>
	</tr>
	<tr>
		<td>Birthplace</td>
		<td>:</td>
		<td>0400, Purok Paraiso, Brgy. Libjo Infanta, Quezon</td>
	</tr>
</table>
	
	<h1>Educational Background</h1>


	<h3>SENIOR HIGH SCHOOL</h3>
	<label>Sisters of Mary of Banneux, INC.</label><br>
	<label>Date Graduated January 16, 2018</label><br>
	<label>4118 Silang, Biga II Silang, Cavite</label>

	<h3>JUNIOR HIGH SCHOOL</h3>
	<label>Sisters of Mary of Banneux, INC.</label><br>
	<label>Date Graduated June 16, 2016</label><br>
	<label>4118 Silang, Biga II Silang, Cavite</label>

	<h3>ELEMENTARY</h3>
	<label>Libjo Elementary School</label><br>
	<label>Date Graduated March 12, 2013</label><br>
	<label>4118 Silang, Biga II Silang, Cavite</label>

	<h1>Work Experience</h1>
	<label class="work"><b>Work Immersion in LTO San Juan Licensing</b></label><br>
	<label>June 2020</label>
</body>
</html>
