h1{
	color: blue;
	margin-left: 5%
}

table{
	margin-left: 10%;
}

h3{
	margin-left: 10%;
}

label{
	margin-left: 15%;
}

.work{
	font-size: 17px;
}

.pic{
	width: 150px;
	position: absolute;
	margin-top: -11%;
	margin-left: 85%;
}
